@font-face {
    font-family: 'Roboto';
    src: url('@assets/style/fonts/Roboto-Thin.ttf') format('ttf');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/style/fonts/Roboto-Light.ttf') format('ttf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/style/fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/style/fonts/Roboto-Medium.ttf') format('ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/style/fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/style/fonts/Roboto-Black.ttf') format('ttf');
    font-weight: black;
    font-style: normal;
}